.body-face {
    display: flex; 
    justify-content: center;
    align-items: center;
    min-height: 100vh;/* 视口高度的1% */
    background-color: #5d3800;
}
.face {
    position: relative;
    width: 35em;
    height: 35em;
    border-radius: 50%;
    background-color: #ffcd00;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 嘴巴 */
.face::before{
    content: ''; /* 内容 */
    position: absolute;/* 对定位 */
    top: 180px; /* 距上部 */
    width: 150px;
    height: 70px;
    background: #b57700;
    border-bottom-left-radius: 70px; /* 左下圆角 */
    border-bottom-right-radius: 70px;
    transition: .5s; /* 过渡时间 */
  }