

body {
    margin: 6em 6em;
    padding: 4em;
}

.text {
    text-align: center;
}
/*
.slide-container {
    position: relative;
    width: 800px;
    height: 900px;
    overflow: hidden;
    border: 5px solid #fff;}
    .slid {
    position: absolute;
    left: 35em;
    top: 11em;
    animation: slide 5s infinite;
    padding: 3em;
    text-align: center;

    }
    @keyframes slide{
    0%{ transform:translateX(0px) }
    33%{ transform:translateX(-200px) }
    66%{ transform:translateX(-400px) }
    100%{ transform:translateX(-600px) }
   
    }
    */

    {
        display: block;
        background: #FFF;
        overflow: hidden;
        position:absolute; 
        left:0; 
        right:0; 
        top:0; 
        bottom:0;
      }