.slide-container {
    position: relative;
    width: 200px;
    height: 400px;
    overflow: hidden;
    border: 5px solid #fff;}
    .slid {
    position: absolute;
    left: 35;
    top: 15;
    animation: slide 5s infinite;

    }
    @keyframes slide{
    0%{ transform:translateX(0px) }
    33%{ transform:translateX(-200px) }
    66%{ transform:translateX(-400px) }
    100%{ transform:translateX(-600px) }
    }
    