* {
    font-family: Avenir, sans-serif;
    padding: 0;
    margin: 0;
    text-align: justify;
    box-sizing: border-box;
}

body {
    background: #ededed;
}

p {
    font-size: 1em;
    line-height: 1.5em;
}

/*HEADER & FOOTER*/
header {
    
    color: white;
    background-image: url(https://www.dailymotion.com/thumbnail/video/k5asAxW55QzwOMtPPq0);
    background-size: cover;
    background-repeat: non-repeat;
    text-align: center;
    height: 50em;

}


header h1 {
    color: white;
    font-size: 1.5em;
    width: 40%;
    margin: 0 auto;
}

header > nav {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 50px;
    max-height: 5em;
    min-height: 1em; 
   /* position: fixed;
    z-index: ;*/
}
 
header > nav > ul{
    width: 50%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}