* {
    font-family: Avenir, sans-serif;
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

body {
    background: #ffffff;
}

section {
    margin-top: 15px;
    padding: 5px auto;
    width: 100%;
    
}

p {
    font-size: 1em;
    line-height: 1.5em;
}

/*HEADER & FOOTER*/
header {
    
    color: white;
    background-image: url(https://ccdn.goodq.top/caches/a8a4b02e7048697ffdf7bfb95c81ad71/aHR0cHM6Ly81ZGM1MTAyYWJiZjFhLnQ3NC5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMTEvMzAxMGQ5ODAxMjA1YmE2YmVlNjA5Y2Y3MGU2YjMwNDUtOTAud2VicA_p_p100_p_3D_p_p100_p_3D.webp);
    background-size: cover;
    background-repeat: non-repeat;
    text-align: center;
    height: 50em;
}


header h1 {
    color: white;
    font-size: 1.5em;
    width: 40%;
    padding-left: 4em;
    text-align: start;

}

header > nav {
    color: white;
    background-color: rgb(6, 23, 41);
    opacity: 0.2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1em 0;
    padding: 1em 4em 5em 2em;
    max-height: 5em;
    min-height: 1em; 
    /*position: fixed;
    z-index: 10; */
}
 
header > nav > ul{
    width: 50%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.image {
    margin-top: 10em;
    
}

.image > a > img {
    
    border: 5px solid snow
    border-radius: 50%;
    
}

.telechargecv{
    border: yellowgreen 1px solid;
    border-radius: 6px;
    background-color: yellow;
    margin: 5em 36em;
    padding: 0.6em 3em;
}

.image h2 {
    margin-top: 5px;
    margin-bottom: 7px ;
}

/* 
header + section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
pourquoi il ne marche pas? */

/*section presant*/
.presant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em 10%;
}

.image2 {
    
    border: 3px solid rgb(38, 18, 211);
}

.pre{
    width: 65%;
    text-align: left;
    padding: 0 3em 3em 3em;
    margin: o 10% 6% auto;
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pre h3 {
    margin-top: 8px;
    margin-bottom: 2em ;
}

.list {
    margin-top: 3.5em;
}

.contact-flex {
    text-decoration: solid;
    text-transform: uppercase;
    font-weight: bold
}

.list li {
    margin-bottom: 2.5em; 
}

.social {
    margin-top:2.5em ;
}

/*section service ci-desous*/
.service{
    background-color: rgb(204, 235, 224);
}
.service1 {
    text-align: center; 
}

.icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.icon-item {
    border: 1px solid rgb(41, 43, 44);
    box-shadow: 1px 2px 8px gray;
    padding-bottom: 2em;
    margin-bottom: 5em;

}



